body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

.outer-circle {
    width: 150px;
    height: 150px;
    background-color: #0097ec; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inner-rectangle {
    width: 19px;
    height: 90px;
    background-color: white; 
   
  }

  .small-circle{
    width: 150px;
    height: 150px;
    background-color: #0097ec; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }