body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

/* .outer-circle {
    width: 150px;
    height: 150px;
    background-color: #0097ec; 
    border-radius: 50%;
    display: flex;
  }

  .inner-rectangle {
    width: 19px;
    height: 90px;
    background-color: white; 
    margin-top: 62px;
    margin-left: 64px;
   
  }

  .small-circle{
    width: 33px;
    height: 36px;
    background-color: #fdfffd; 
    border-radius: 50%;
    margin-top: 44px;
    margin-left: -26px;
  } */

  .container{
    width: 85%;
    height: 200px;
    display: flex;
    gap: 5px;
  }

  .container img{
    width: 10%;
    height: 100%;
    object-fit:  cover;
    border-radius: 10px;
    border: 2px saddlebrown;
    transition: all ease 0.3s;
    cursor: pointer;

  }

  .container img:hover {
    width: 100%;
    color: #111;
    background: greenyellow;
    box-shadow: 0 0 100px greenyellow;
}

.outer_container {
  width: 23%;
  padding: 10px; 
  border: 2px solid rgb(0, 86, 199); 
  box-shadow: 0 0 10px rgba(255, 80, 27, 0.5);
}