body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

.outer-circle {
    width: 150px;
    height: 150px;
    background-color: #0097ec; 
    border-radius: 50%;
    display: flex;
  }

  .inner-rectangle {
    width: 19px;
    height: 90px;
    background-color: white; 
    margin-top: 62px;
    margin-left: 64px;
   
  }

  .small-circle{
    width: 32px;
    height: 34px;
    background-color: #9ce087; 
    border-radius: 50%;
    display: flex;
  }